<!-- Form which will send a GET request to the current URL -->
<form>
    <label>Name:
      <input name="submitted-name" autocomplete="name">
    </label>
    <button>Save</button>
</form>

<!-- Form which will send a POST request to the current URL -->
<form method="post">
    <label>Name:
      <input name="submitted-name" autocomplete="name">
    </label>
    <button>Save</button>
</form>

<form method="post">
    <input hidden class=" inputtextname " type="text " placeholder=" 輸入姓名 " pattern="{1,12} " name="username " />
    <input required class="inputtextemail " type="email " placeholder=" 輸入電子郵件 " name="useremail " />
    <input required class="inputtextpassword " type="password " placeholder=" 輸入密碼 " required pattern="{4,12} " name="userpassword " />
    <button class="inputbutton " onClick=connect()>登入</button>
    <button>Save</button>

    <!-- <input class="inputbutton " type="button " onClick="connect() " value="登入 "> -->
</form>