[mysqld]
character-set-server=utf8
skip-grant-tables
[mysql]
default-character-set=utf8

[client]
default-character-set=utf8


[mysql]
default-character-set=utf8
[client]
default-character-set=utf8
[mysqld]
character_set_server=utf8
character_set_client=utf8
collation_server=utf8_general_ci

